.dogs-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  justify-content: space-between;
  width: 90%;
  
  
};

.dogs-card {
  width: 200px;
  height: 100px;
  box-shadow: 0px 20px 20px -10px;
  
  

}